.container {
  height: 16rem;
  background-image:
      linear-gradient(to right, rgb(203 213 225) 1px, transparent 0.5px),
      linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 0.5px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;

}

.App-toolbar__divider {
  width: 1px;
  height: 1.5rem;
  align-self: center;
  background-color: #9D9D9D;
  margin: 0 .25rem;
}